@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Chango');
* {
    box-sizing: border-box;
    font-family: 'Rubik';
}

.leaderboard {/* 
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto; */
    border-collapse: collapse;
    font-size: 1rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    margin-bottom: 3rem;
}

.leaderboard thead tr {
    background-color: rgb(64, 192, 255);
    color: white;
    text-align: center;
    font-weight: bold;
}

.leaderboard th,
.leaderboard td {
    padding: 12px 15px;
}

.leaderboard tbody tr {
    border-bottom: 1px solid #ddd;
}

.leaderboard tbody tr:nth-last-of-type(even) {
    background-color: #f3f3f3;
}

.leaderboard tbody tr:last-of-type {
    border-bottom: 2px solid rgb(64, 192, 255);
}

.leaderboard tbody tr.active {
    font-weight: bold;
    color: rgb(64, 192, 255);
}

.team {
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 0.5rem;
    width: 12rem;
    border-radius: 8px;
}

.team.winning {
    color: rgb(64, 192, 255);
    font-weight: bolder;
}

.big {
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: bolder;
}

.leaderboardWrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
}