.profile {
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 40%;
    max-width: 28rem;
    min-width: 18rem;
    position: absolute;
    left: 0
}

.divider {
    display: block;
    margin-inline: auto;
    width: 75%;
    border-bottom: 1px solid rgba(0, 0, 0, 50%);
}

.profileContent {
    margin-top: 1rem;
}

h3 {
    font-size: 2rem;
}

.userData {
    padding: 0.5rem;
    padding-inline: 15%;
}

.userData * {
    display: block;
    /* text-align: left; */
}

.homeButton {
    margin-top: 0.5rem;
    margin-inline: auto;
    border: none;
    padding: 5px;
    padding-inline: 15px;
    border-radius: 5px;
    background-color: rgb(64, 192, 255);
    color: white;
    transition: 0.2s;
}

.homeButton:hover {
    transform: scale(1.05);
}